body {
  margin: 10px;
}

table,
td,
th {
  border: 1px, solid, #c4dcf3;
  border-left: 0px;
  border-right: 0px;
  border-collapse: collapse;
}

td,
th {
  padding: 10px;
}

tbody tr:nth-child(odd) {
  background-color: #eef7ff;
}

thead,
tfoot {
  text-align: left;
  background-color: #427fef;
  color: white;
  padding: 20px;
}
